<a href="https://colab.research.google.com/github/GCardoso-lab/titanic-case/blob/main/Main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Titanic Case

## Business Understand

* Create a preditive model to predict the chance of survival in the acident from the ship.

### Data Understand



*   survival - 0-1 - Person survived?
*   pclass - 1,2,3 - Class of ticket    ::  Most down = less chance?
*   sex - M,F - Sex of passenger        ::  Males have priority in boats = more survive chance?
*   sibsp - 1,2,3... - ??
*   parch - 1,2,3... - Number of parents in ship :: Most parents together = less chance?
*   ticket - 1,2,3,... - Number ticket
*   fare - 1,2,3... - ??
*   cabin - 1,2,3... - Cabin number
*   embarked - C,Q,S - Port of embarkation

In [1]:
import pandas as pd
import seaborn as sns